<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @car.make.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @car.make.country %>
</p>

<p>
  <strong>Model title:</strong>
  <%= @car.model_title %>
</p>

<p>
  <strong>Vin number:</strong>
  <%= @car.vin_number %>
</p>

<p>
<strong>Part:</strong>
  <% @car.parts.each do |part| %>
    <li><%= part.part_name %></li>
  <% end %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
